---
---

@import 'main';

/* append your custom style below */
hr {
  border: none;
  border-top: 2px solid rgba(128, 128, 128, 0.5);
  margin: 2em 0;
}

h2 { font-size: 2.0rem; color: #79b8ff; }
h3 { font-size: 1.7rem; color: #85e89d; }
h4 { font-size: 1.5rem; color: #ffab70; }
h5 { font-size: 1.3rem; color: #f97583; }
h6 { font-size: 1.2rem; color: #b392f0; }